/* 
    Document   : admin.css
    Created on : 22/04/2013
    Author     : Krunoslav Domic
    Description: Group buying site
*/

/*
    Background:         http://subtlepatterns.com/;
    Nav icons:          http://www.dezinerfolio.com/freebie/30-free-vector-icons;
    Messqge box icons:  http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960
    http://speckyboy.com/2009/11/02/40-fresh-and-free-icon-sets-for-web-designers-and-bloggers/   
*/

/* === GLOBAL === */

body {
    background: #fff url(../images/admin_background.png); /*http://subtlepatterns.com*/
    font-family: helvetica, arial, sans-serif;
    margin: 0;    
}

h1 {
    margin: 0;
    padding: 15px;
    font-size: 150%;
}

/* === HEADER === */

header {
    width: 100%;
    height: 50px;
    background: #000 url(../images/admin_header.png) repeat-x;
    color: #fff;
}

.headerLeft {
    width: 45%;
    float: left;
    text-align: left;
    font-size: 120%;
    margin: 12px;    
}

.headerRight {
    width: 45%;
    float: right;
    text-align: right;
    margin: 8px 20px 0 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* === MENU === */

nav {
    width: 945px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

nav ul li {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    display: block;
    padding: 5px;
    float: left;
    text-align: center;
    color: #000;
    background: #ccc;
    border: 2px solid #000;
    border-radius: 20px;    
}

nav ul li:hover, .menuCurrent {
   background: #333;
}

/* === CONTENT === */

#outerDiv {
    width: 945px;
    margin: 15px auto;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
}

#content{
	background: #f9f9f9;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.leftHalf {
    width: 49%;
    float: left;
}

#userWarnNew{
    width: 100%;
}

/* === TABLE === */

.row:hover {
    cursor: pointer;
}

.legend {
    font-size: 75%;
    text-align: center;
}

/* === Reset === */

.clear {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}

/* === Message Box === */

.info, .success, .warning, .error { 
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}