/* 
    Document   : main.css
    Created on : 26/03/2013
    Author     : Krunoslav Domic
    Description: Group buying site
*/

/* === Global styles === */

body {
    background: #fff url(../images/background.gif); /*http://subtlepatterns.com*/
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

/* === Header === */

header {
    width: 100%;
    height: 85px;
    background-color: #000;
    color: #fff;
}

header#headerDown {
    height: 45px;
    /*background-color: #699737;*/
    /*Generator: http://www.colorzilla.com/gradient-editor/*/
    background: #cdeb8e; /* Old browsers */
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */

}

#logoDiv {
    width: 900px;
    margin: 0 auto;    
}

#logoImg { /*http://www.markevanstech.com/wp-content/uploads/2011/06/groupon-logo.jpeg*/
    background: url(../images/logo.png) no-repeat;
    width: 240px;
    height: 105px;
}

/* === Main menu === */

nav {
    width: 945px;
    height: 45px; /* visina doljnjeg izbornika */
    margin: 0 auto;
    color: #555;
}

nav#navUp {
    color: #555;
    margin-top: -85px;
}

nav#navUp div {
    margin-left: 180px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

nav li {
    float: left;
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit;
    display: block;
    text-decoration: none;
    padding: 10px 15px 15px 15px;
    margin-left: 10px;
}

nav a:hover {
    color: #FFFF66;
}

nav#navUp a:hover {
    background-color: #cdeb8e;
    border-radius: 10px 10px 0 0;
    
}

nav a.current {
    background-color: #cdeb8e;
    border-radius: 10px 10px 0 0;
}

/* === Content === */

#outerDiv {
    width: 945px;
    margin: 0 auto;
}

.outerWrapper {
    padding: 10px;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 5px;
}

/* === Slidebar === */

#slider {
    margin-top: 15px;
}

.sliderCaption {
    width: 100%;
    height: 60px;
    padding: 2px;
}

.sliderCaption h1 {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #333;
}

.sliderCaption h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    color: #949494;
}

.sliderOffer{
    float: left;
    width: 340px;
    padding: 0 5px;
}

.sliderOfferBuy {
    height: 80px;
    margin-top: 20px;
    background-color: #4bc1de;
    color: #fff;
    border-radius: 10px;
}

.sliderOfferTag {
    height: 80px;
    margin: 0;
    padding: 0;    
    margin-left: -105px;
    margin-top: -2.1ex;
    background: url(../images/tag.png) no-repeat;
}

.sliderOfferBuy h1 {
    float: left;
    margin-top: -65px;
    margin-left: 25px;
    font-size: 100%;
    text-transform: uppercase;
}

.sliderOfferBuy a {
    float: right;
    margin-top: -72px;
    margin-right: 25px;
    padding: 20px 35px;
    text-decoration: none;
    text-align: center;
    background-color: #fa9f2a;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
}

.sliderOfferBuy a:hover {
    background-color: #fccf94;
    color: #699737;
}

.sliderOfferBuy h2 {
    float: left;
    margin-top: -46px;
    margin-left: 50px;
    font-size: 140%;
}

.sliderOfferDiscount {
    height: 60px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferDiscount div {
    width: 33%;
    float: right;
    margin-top: 3px;
    border-right: 1px dotted #ccc;
}

.sliderOfferDiscount div:first-child {
    border: none;
}

.sliderOfferDiscount div h1 {
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    color: #333;
}

.sliderOfferDiscount div h2 {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin: 5px 0 0 0;
    color: #333;
}

.sliderOfferFriend {
    height: 47px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferFriend img {
    margin-top: 5px;
    height: 40px;
    float: left;
    margin: 3px 0 0 60px;
}

.sliderOfferFriend h1 {
    float: left;
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    margin: 1em 0 0 1em;
    color: #333;
}

.sliderOfferBought {
    height: 80px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferBought h1 {
    font-size: 120%;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 0;
    color: #333;
    padding: 8px 0 0 0;
}

.sliderOfferBought meter {
    width: 80%;
    margin: 5px 0 5px 10%;
}

.sliderOfferBought h2 {
    font-size: 85%;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0 0 2px 0;
    color: #333;    
}

.sliderOfferTime {
    height: 60px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferTime h1 {
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 12px 0 0 0;
    color: #333;
}

.sliderOfferTime h2 {
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #333;
}

.sliderImg {
    float: left;
    width: 570px;
    padding: 10px 0;
    text-align: center;
}

.sliderImg img {
    height: 316px;
}

/*Galerija slika, opis... -> nalaze se dolje pod Content Details*/

/* === Content === */

.content {
    float: left;
    width: 660px;
    margin-top: 15px;
}

#caption {
    font-family: Impact, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/* === Offers === */

.offer {
    position: relative;
    height: 165px;
    padding: 8px;
    border: 1px solid #d0d0d0;
    margin: 8px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#loadMoreOffer {
    height: 1em;
    font-size: 0.8em;
    font-weight: bold;
    font-style: initial;
    text-align: center;
    text-transform: uppercase;
}

#loadMoreOffer:hover {
    cursor: pointer;
}

.offer img {
    width: 250px;
    float: left;
    padding: 5px;
}

.offer div {
    width: 350px;
    float: right; 
}

.offer div h1 {
    font-size: 125%;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #333;
}

.offer div h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    color: #949494;
}

.offer div h3 {
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    color: #333;
}

.offer div h4 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.offer div.down {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;    
}

.offer div.price {
    float: left;
    width: 20%;
    border-right: 1px dotted #ccc;
}

.offer div.discount {    
    float: left;
    width: 15%;
    border-right: 1px dotted #ccc;border-right: 1px dotted #ccc;
}

.offer div.time {    
    float: left;
    width: 40%;
}

.offer div.more {
    float: left;
    width: 20%;
}

.offer div.more a {            
    padding: 7px 20px;
    border: 1px solid #fa9f2a;
    border-radius: 25px;
    background-color: #fa9f2a;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.offer div.more a:hover {            
    color: #699737;
}

/* === Content Details === */

.shortDesc {
    float: left;
    width: 48%;
    margin-top: 15px;
}

.imgGallery {
    float: right;
    width: 48%;
}

.imgGallery img {
    width: 80px;
}

.imgGallery img:hover {
    cursor: pointer;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #4B4B4B;
    padding: 10px 20px;
    line-height: 175%;
}

#map {
    width: 100%;
    height: 300px;
    margin: 0;
}

.company {
    width: 50%;
    float: right;
}

/* === Sidebar === */

#sidebar {
    float: right;
    width: 235px;    
    margin-right: 5px;
}

#sidebar ul, li {
    margin: 0;
    padding: 0 0 0 10px;
}

.sidebarWrapper {
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    font-size: 80%;
}

.sidebarWrapper img {
    width: 100%;
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    border-radius: 5px;
}

#basketIcon{
    height: 25px;
    width: 31px;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

.sidebarWrapper #kosarica {
    text-align: center;
}

.sidebarWrapper #pay {
    margin-top: -20px;
}

.sidebarWrapper #pay a {
    margin-left: 28px;
    padding: 5px 35px;
    text-decoration: none;
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
    border: 1px solid #447d43;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		
    font-weight: bold;   
    cursor: pointer;
    color: #23441e;
}

.sidebarWrapper #pay a:hover {
    background: #95d788;
    background-image: -moz-linear-gradient(#6cbb6b, #95d788);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}

.sidebarWrapper h1 {
    text-align: left;
    font-size: 120%;
    margin: 0;
    padding: 8px;
    background-color: #f2f2f2;
    color: #333;
    border-radius: inherit;
}

.sidebarWrapper div {
    padding: 12px;
}

#search, #submit {
    float: left;
    margin: 20px 0 0 5px;
}

#search {    
    padding: 5px 9px;
    height: 23px;
    width: 120px;
    border: 1px solid #a4c3ca;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    outline: none;    
}

#submit {
    height: 35px;
    width: 60px;
    padding: 0;
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
    border: 1px solid #447d43;
    border-radius: 3px 50px 50px 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		
    font-weight: bold;   
    cursor: pointer;
    color: #23441e;
}

#submit:hover {		
    background: #95d788;
    background-image: -moz-linear-gradient(#6cbb6b, #95d788);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}

.newsletterEmail {
    width: 180px;
    height: 30px;    
    float: left;
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px solid #ccc;
}

.newsletterSubmit {
    width: 20px;
    height: 32px;    
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

.newsletterSubmit:hover {
    cursor: pointer;
}

/* === Footer  === */

footer {
    width: 100%;
    height: 500px;
    color: #fff;
    background-color: #1a1a1a;
    border-top: 1px solid #05c4e7;
    margin-top: 100px;
}

/* === Other === */

.clear {
    clear: both;
    height: 0;
    padding: 0;    
    margin: 0;
}
