/* 
    Document   : main.css
    Created on : 26/03/2013
    Author     : Krunoslav Domic
    Description: Group buying site
*/

/* === Global styles === */

body {
    background: #fff url(../images/background.gif); /*http://subtlepatterns.com*/
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

/* === Header === */

.headerContent {
    width: 945px;    
    margin: 0 auto;
    color: #fff;
    padding-top: 3px;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-bottom: 50px;
}

header .divHeaderLeft {
    width: auto;
    height: 75px;
    float: left;
}

header .divHeaderRight {
    width: auto;
    height: 75px;
    float: right;
    margin-top: 2px;
}

header nav {
    display: initial;
}

header nav select {
    height: 40px;
    padding: 5px;    
    background-color: #000;
    color: #fff;
    font-size: 100%;
    text-align: center;
    border-radius: 10px;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.selectDrop {
    background-color: #000;
    color: #fff;
}

.divHeaderRight a {
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid #fff;
    border-top: none;
    border-radius: 0 0 15px 15px;
    color: #000;
    background-color: #fff;
    margin-top: 10px;
    cursor: pointer;
}


.divHeaderRight a:hover {    
    border-color: #05c4e7;    
}

/* === DROPBOX === */

.dropbox, .dropboxLogin, .dropboxPurchases, .dropboxAccount{
    display: none;
    background-color: #000;
    color: #fff;    
    padding-bottom: 10px;
    border-bottom: 1px solid #05c4e7;
}

.dropboxLeft {
    float: left;
    width: 33%;
    margin-top: 15px;
}

.dropboxTiles {
    width: 220px;
    height: 180px;
    float: left;
    margin: 2px 2px 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
}

.dropboxTiles:hover {
    border: 1px solid#05c4e7;
}

.dropboxTiles img {
    width: 210px;
    padding: 5px;
}

.dropboxTiles h1 {
    font-size: 100%;
    color: #fff;
    text-align: center;;
}

/* === Content === */

#outerDiv {
    width: 945px;
    margin: 0 auto;
}

.outerWrapper {
    padding: 10px;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 5px;
}

/* === Slidebar === */

#slider {
    margin-top: 15px;
}

.sliderCaption {
    width: 100%;
    height: 60px;
    padding: 2px;
}

.sliderCaption h1 {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #333;
}

.sliderCaption h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    color: #949494;
}

.sliderOffer{
    float: left;
    width: 340px;
    padding: 0 5px;
}

.sliderOfferBuy {
    height: 80px;
    margin-top: 20px;
    background-color: #4bc1de;
    color: #fff;
    border-radius: 10px;
}

.sliderOfferTag {
    height: 80px;
    margin: 0;
    padding: 0;    
    margin-left: -105px;
    margin-top: -2.1ex;
    background: url(../images/tag.png) no-repeat;
}

.sliderOfferBuy h1 {
    float: left;
    margin-top: -65px;
    margin-left: 25px;
    font-size: 100%;
    text-transform: uppercase;
}

.sliderOfferBuy a {
    float: right;
    margin-top: -72px;
    margin-right: 25px;
    padding: 20px 35px;
    text-decoration: none;
    text-align: center;
    background-color: #fa9f2a;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.sliderOfferBuy img{
    float: right;
    margin: -65px 40px; 0 0;
    color: #fff;
    cursor: pointer;
}

.sliderOfferBuy a:hover {
    background-color: #fccf94;
    color: #699737;
}

.sliderOfferBuy h2 {
    float: left;
    margin-top: -46px;
    margin-left: 50px;
    font-size: 140%;
}

.sliderOfferDiscount {
    height: 60px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferDiscount .v, .p, .u {}

.sliderOfferDiscount div {
    width: 33%;
    float: right;
    margin-top: 3px;
    border-right: 1px dotted #ccc;
}

.sliderOfferDiscount div:first-child {
    border: none;
}

.sliderOfferDiscount div h1 {
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    color: #333;
}

.sliderOfferDiscount div h2 {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin: 5px 0 0 0;
    color: #333;
}

.sliderOfferFriend {
    height: 47px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferFriend img {
    height: 40px;
    float: left;
    margin: 3px 0 0 30px;
}

.sliderOfferFriend h1 {
    float: left;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    color: #333;
}

.sliderOfferFriend a {
    cursor: pointer;
}

.sliderOfferBought {
    height: 80px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferBought h1 {
    font-size: 120%;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 0;
    color: #333;
    padding: 8px 0 0 0;
}

.sliderOfferBought meter {
    width: 80%;
    margin: 5px 0 5px 10%;
}

.sliderOfferBought h2 {
    font-size: 85%;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0 0 2px 0;
    color: #333;    
}

.sliderOfferTime {
    height: 60px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}

.sliderOfferTime h1 {
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 12px 0 0 0;
    color: #333;
}

.sliderOfferTime h2 {
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #333;
}

.sliderImg {
    float: left;
    width: 570px;
    padding: 10px 0;
    text-align: center;
}

.sliderImg img {
    width: 570px;
    height: 316px;
}

.sliderImgNum {
    width: 20px;
    height: 20px;
    float: right;
    margin: -3px 1px 0 1px;
}

.sliderImgNum a {
    padding: 1px 5px;
    text-align: center;
    vertical-align: central;
    border-radius: 100px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
}

.sliderImgNum a:hover {
    background-color: #333;
    color: #f2f2f2;
    cursor: pointer;
}

.sliderImgNum a.current {
    background-color: #333;
    color: #f2f2f2;
    cursor: default;
}

/*Galerija slika, opis... -> nalaze se dolje pod Content Details*/

/* === Content === */

.content {
    float: left;
    width: 660px;
    margin-top: 15px;
}

#caption {
    font-family: Impact, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/* === Offers === */

.offer {
    position: relative;
    height: 170px;
    padding: 8px;
    border: 1px solid #d0d0d0;
    margin: 8px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#loadMoreOffer {
    height: 1em;
    font-size: 0.8em;
    font-weight: bold;
    font-style: initial;
    text-align: center;
    text-transform: uppercase;
}

#loadMoreOffer:hover {
    cursor: pointer;
}

.offer img {
    width: 260px;
    float: left;
    padding: 5px;
}

.offer div {
    width: 350px;
    float: right; 
}

.offer div h1 {
    font-size: 125%;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #333;
}

.offer div h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    color: #949494;
}

.offer div h3 {
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    color: #333;
}

.offer div h4 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.offer div.down {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;    
}

.offer div.price {
    float: left;
    width: 105px;
    border-right: 1px dotted #ccc;
}

.offer div.discount {    
    float: left;
    width: 65px;
    border-right: 1px dotted #ccc;border-right: 1px dotted #ccc;
}

.offer div.time {    
    float: left;
    width: 140px;
}

.offer div.more {
    float: right;
    width: 25px;   
}

.offer div.more img {
   float: right;
   width: 20px;
   height: 20px;
   cursor: pointer;
}


/* === Content Details === */

.shortDesc {
    float: left;
    width: 48%;
    margin-top: 15px;
}

.imgGallery {
    float: right;
    width: 48%;
}

.imgGallery img {
    width: 80px;
    height: 60px;
    margin-left: 5px;
}

.imgGallery img:hover {
    cursor: pointer;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #4B4B4B;
    padding: 10px 20px;
    line-height: 175%;
}

#map {
    width: 100%;
    height: 300px;
    margin: 0;
}

.company {
    width: 50%;
    float: right;
}

.company a {
    color: #aaa;
}

/* === Comments === */

.comment {
    padding: 8px;
    border: 1px solid #d0d0d0;
    margin: 8px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.commentText {
    width: 400px;
    float: left;
    padding: 30px 50px 5px 15px;
    border-right: 2px dotted #ccc;
    text-align: justify;
    line-height: 130%;
}

.commentAuthor {
    width: 200px;
    float: right;
    text-align: right;
    padding: 10px;
}

.commentAuthor {
    width: 120px;
}

.commentAuthor h1 {
    font-size: 120%;
    font-weight: normal;
    font-style: italic;
    text-align: right;
    margin: 0;
    color: #333;
}

.commentAuthor h2 {
    font-size: 85%;
    font-weight: normal;
    font-style: italic;
    text-align: right;
    margin: 0;
    color: #333;    
}

.commentTextarea {
    width: 500px;
    height: 100px;
    margin: 8px 8px 0 8px;
    display: block;
}

.commentSubmit {
    margin: 0 0 15px 8px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 0 0 10px 10px;
}


/* === Sidebar === */

.sidebar {
    float: right;
    width: 235px;    
    margin-right: 5px;
}

.sidebar ul, li {
    margin: 0;
    padding: 0 0 0 10px;
}

.sidebarWrapper {
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    font-size: 80%;
}

.sidebarWrapper img {
    width: 100%;
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    border-radius: 5px;
}

#basketIcon{
    height: 25px;
    width: 31px;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

.sidebarWrapper #basket {
    text-align: center;
    cursor: pointer;    
}

.sidebarWrapper #basket img {
    border: 1px solid #fff;
}

.sidebarWrapper #basket img:hover {
    border: 1px solid #05c4e7;
}

.sidebarWrapper #pay {
    margin-top: -20px;
}

.sidebarWrapper #pay a {
    margin-left: 28px;
    padding: 5px 35px;
    text-decoration: none;
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
    border: 1px solid #447d43;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		
    font-weight: bold;   
    cursor: pointer;
    color: #23441e;
}

.sidebarWrapper #pay a:hover {
    background: #95d788;
    background-image: -moz-linear-gradient(#6cbb6b, #95d788);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}

.sidebarWrapper h1 {
    text-align: left;
    font-size: 120%;
    margin: 0;
    padding: 8px;
    background-color: #f2f2f2;
    color: #333;
    border-radius: inherit;
}

.sidebarWrapper h1 a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.sidebarWrapper div {
    padding: 12px;
}

#search, #submit {
    float: left;
    margin: 20px 0 0 5px;
}

#search {    
    padding: 5px 9px;
    height: 23px;
    width: 120px;
    border: 1px solid #a4c3ca;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    outline: none;    
}

#submit {
    height: 35px;
    width: 60px;
    padding: 0;
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
    border: 1px solid #447d43;
    border-radius: 3px 50px 50px 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		
    font-weight: bold;   
    cursor: pointer;
    color: #23441e;
}

#submit:hover {		
    background: #95d788;
    background-image: -moz-linear-gradient(#6cbb6b, #95d788);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}

.newsletterEmail {
    width: 180px;
    height: 30px;    
    float: left;
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px solid #ccc;
}

.newsletterSubmit {
    width: 20px;
    height: 32px;    
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

.newsletterSelect{
    width: 200px;
}

.newsletterSubmit:hover {
    cursor: pointer;
}

/* === Footer  === */

footer {
    width: 100%;
    height: 500px;
    color: #fff;
    background-color: #1a1a1a;
    border-top: 1px solid #05c4e7;
    margin-top: 100px;
}

/* === Message Box === */
/*Ikone: http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960*/

.info, .success, .warning, .error { 
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

/* === Other === */

.clear {
    clear: both;
    height: 0;
    padding: 0;    
    margin: 0;
}

.hide {
    display: none;
}

#goBack {
    margin: 0;
    padding: 0;
    cursor: pointer;
}